<div class="login-container">
    <div class="login-user">
        <img src="./assets/images/login-page.png" alt="" width="50%">
    </div>
    <form class="example-form"
        (ngSubmit)="onSubmit( loginForm )"
        #loginForm="ngForm">
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input type="email"
                autocomplete="off"
                placeholder=""
                name="email"
                required
                matInput
                [(ngModel)]="usuario.email">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password"
                autocomplete="off"
                placeholder=""
                name="password"
                required
                matInput
                [(ngModel)]="usuario.password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-button-primary">Ingresar</button>
    </form>
</div>