<div class="row">
    <div class="col-12">
        <h1>Crear cuestionario</h1>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="guardarCuestionario()">

            <div class="form-group row">
                <label class="col-3">Nombre del cuestionario</label>
                <div class="col-6">
                    <input  type="text"
                            class="form-control"
                            placeholder="Nombre del Cuestionario"
                            formControlName="nombreCuestionario">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3">Instrucciones para el examen</label>
                <div class="col-6">
                    <input  type="text"
                            class="form-control"
                            placeholder="Instrucciones"
                            formControlName="instrucciones">
                </div>
            </div>

            <div class="mt-4"
                 formArrayName="preguntas"
                 *ngFor="let control of preguntas.controls let ipreg = index">
                <div [formGroupName]="ipreg" class="form-group row">

                    <div class="col-6">
                        <input  type="text"
                                class="form-control"
                                placeholder="Escriba la pregunta"
                                formControlName="pregunta">
                    </div>
                    <div class="col-3">
                        <button class="btn btn-danger"
                                type="button"
                                (click)="eliminarPregunta(ipreg)"><i class="fa fa-trash"></i> Eliminar pregunta</button>
                    </div>
                    
                    <table *ngIf="respuestaArray(ipreg)" class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Respuesta</th>
                                <th>Isvalid</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="respuestas">
                            <tr *ngFor="let control of respuestaArray(ipreg).controls let ires = index" [formGroupName]="ires">
                                <td> {{ires}} </td>
                                <td>
                                    <input  type="text"
                                            class="form-control"
                                            formControlName="respuesta">
                                </td>
                                <td>
                                    <button class="btn btn-info"
                                            type="button"
                                            *ngIf="control.value.isValid"
                                            (click)="resetearRespuesta(false, ipreg, control)"><i class="fa fa-check"></i>
                                        Es la respuesta correcta
                                    </button>
                                    <button class="btn btn-success"
                                            type="button"
                                            *ngIf="!control.value.isValid"
                                            (click)="resetearRespuesta(true, ipreg, control)"><i class="fa fa-check"></i>
                                        Definir como verdadera
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger"
                                            type="button"
                                            (click)="borrarRespuesta(ipreg, ires)"><i class="fa fa-trash"></i>
                                        Borrar Respuesta
                                    </button>
                                </td>
                            </tr>                             
                        </tbody>
                    </table>
                    <div class="col-3">
                        <button class="btn btn-secondary"
                                type="button"
                                (click)="agregarRespuesta(ipreg)"><i class="fa fa-plus"></i> Agregar Respuestas</button>
                    </div>
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-warning"
                            type="button"
                            (click)="agregarPregunta()">
                        Agregar Pregunta
                    </button>
                </div>
            </div>

            <div class="row mt-5 text-center">
                <div class="col">

                    <button class="btn btn-primary"
                            type="submit"><i class="fa fa-save"></i> 
                        Guardar
                    </button>

                </div>
            </div>

        </form>
    </div>
</div>