<!-- <app-crear-usuario></app-crear-usuario> -->
<br>
<!-- <app-cuestionario></app-cuestionario> -->

<div class="row">
    <h1>Usuarios Registrados</h1>
    <div class="col">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Privilegios</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let usuario of usuarios let i = index">
                     <td> {{i}} </td>
                     <td> {{usuario.nombre}} </td>
                     <td> {{usuario.tipoUsuario}} </td>
                     <td>
                         <button class="btn btn-info text-white"><i class="fa fa-pen"></i></button>
                     </td>
                 </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <h1>cuestionarios creados</h1>
    <div class="col">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>Nombre cuestionario</th>
                    <th>Descripcion</th>
                    <th>Fecha de cracion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let cuestionario of cuestionarios let i = index">
                     <td> {{i}} </td>
                     <td> {{cuestionario.nombre}} </td>
                     <td> {{cuestionario.instrucciones}} </td>
                     <td> {{cuestionario.creacion | date }} </td>
                     <td>
                         <button [routerLink]="['/presentarExamen', cuestionario.id]" class="btn btn-info text-white">Presentar Examen</button>
                     </td>
                 </tr>
            </tbody>
        </table>
    </div>
</div>
